.card{
    width: 300px;
    margin-top: 15px;
}
.details{
    display: flex;
    justify-content: space-between;
}
.cardImage{
    height: 150px;
    object-fit: cover;
}
.actionButtons{
    display: flex;
    justify-content: space-around;
}
.buttons{
    width: 100px;
}